@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Work Sans', sans-serif;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* banner section */

.header {
  /* max-width: 80vw; */
  margin: 0 auto;
}

nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar {
  max-width: 80vw;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: inline-block;
  margin-right: 1rem;
  font-size: 4.5rem;
  cursor: pointer;
}

.nav-logo-title {
  font-size: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.nav-title {
  font-size: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.nav-items li {
  color: #3c354f;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}

.nav-items-follow-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1rem 2rem;
}

.nav-icon {
  font-size: 2.5rem;
}

/* .nav-items-follow-block {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1rem 2rem;
} */

/* banner section styles */

.banner {
  background-image: url('./assets/Group-14.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  max-width: 80vw;
  margin: 0 auto;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 2rem; */
}

.banner-info {
  width: 50%;
}

.banner-title {
  font-size: 5rem;
  color: #0b0223;
  padding: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-title-fancy {
  font-size: 9rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .title-span {
  display: block;
} */

.banner-icon {
  font-size: 2rem;
  margin-right: 2rem;
}

.banner-desc {
  width: 60rem;
  padding: 2rem 0;
  /* line-height: 1.5; */
}
.banner-desc p {
  font-size: 2rem;
  padding-top: 1rem;
}

.button-group {
  display: flex;
  align-items: center;
}

.btn {
  padding: 2rem 4rem;
  gap: 1rem;
  border-radius: 4rem;
  color: white;
  border: 0;
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 1.5rem;
  cursor: pointer;
}

.btn-primary {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.btn-secondary {
  background: #4ec5f7;
}

/* we are gamer section */

.we-are-gamer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15rem;
}

.gamer-hero,
.gamer-info {
  width: 50%;
}

.gamer-info {
  text-align: right;
}

.gamer-title {
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gamer-desc {
  width: 52rem;
  text-align: right;
  margin: auto;
  margin-right: 0;
  padding: 2rem 0;
  color: #534c64;
  font-size: 2rem;
  line-height: 1.7;
}

/* .gamer-desc {
  width: 50%;
  margin: auto;
  margin-right: 0;
} */

.gamer-sub-desc {
  padding-top: 1rem;
  color: #534c64;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.7;
}

.gamer-sub-desc span {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.7;
}

.gamer-info button {
  margin: 0;
}

/* online games videos section */

.online-games-videos-title {
  color: #0b0223;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
}

.online-games-videos-title span {
  font-size: 5rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.online-games-videos-desc {
  color: #534c64;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2;
  padding-top: 2rem;
}

/* .online-games-videos {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  margin: 2rem auto;
  margin-bottom: 6rem;
} */

.online-games-videos {
  width: 80vw;
  margin: 2rem auto;
  margin-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  place-items: center;
  align-items: start;
}

.card {
  /* width: 35rem;
  position: relative;
  background-color: rgba(229, 84, 115, 0.05);
  box-shadow: rgba(229, 84, 115, 0.2) 0 3rem 6rem 0;
  border-radius: 0.5rem;
  transition: 0.4s ease-in all; */
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* .card-image {
  width: 100%;
  width: 34rem;
  height: 40rem;
  flex-shrink: 0;
  display: block;
  object-fit: cover;
} */

.card-image {
  /* display: block;
  width: 100%;
  height: auto; */
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ovarlay-icon {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text {
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: #f948b2;

  /* color: white;
  font-size: 3rem;
  position: absolute;
  margin-bottom: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; */
}

.overlay-video-icon {
  font-size: 5rem;
}

.card:hover .overlay {
  opacity: 1;
  border: 5px solid #f948b2;
}

.overlay-video-icon:hover {
  color: #f948b2;
}

.card-title {
  color: #534c64;
  width: 40rem;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
  padding: 2rem 0;
}

.card-btn {
  text-align: center;
  margin: 2rem auto 5rem;
  display: block;
}

/* game info section */

.game-info {
  max-width: 70vw;
  margin: 0 auto 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.game-info-title {
  width: 50%;
  text-align: right;
  padding: 15rem;
}

.game-info-heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}

.game-info-heading span {
  font-size: 5rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-info-desc {
  width: 35rem;
  color: #534c64;
  font-size: 1.7rem;
  line-height: 1.5;
  padding-top: 1.5rem;
}

.game-info-img {
  position: relative;
  width: 50%;
  width: 64rem;
  height: 65rem;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
}

.game-info-sub-img {
  width: 26rem;
  height: 30rem;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
  position: absolute;
  bottom: -5rem;
  left: -15rem;
}

/* games genre section */

.games-genre-section {
  margin: 6rem 0;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  min-height: 40vh;
}
.games-genre-image {
  width: 6rem;
}

.games-genre-type {
  padding: 8rem 0;
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.games-genre-info {
  width: 30rem;
  height: 8rem;
  margin: 3rem 0;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 5rem;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.games-genre-desc {
  color: #0b0223;
  font-size: 1.7rem;
  font-weight: 600;
}

.games-genre-info:hover {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #ff42a5;
}

/* footer section */
.footer {
  background: #0b0223;
  padding: 8rem 0;
}
.footer-section {
  max-width: 70vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.footer-title {
  color: white;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.footer-list {
  display: flex;
  gap: 8rem;
  padding: 4rem;
  transition: all 0.3s ease-in;
}

.footer-icon {
  font-size: 4rem;
}

.footer-features {
  gap: 4rem;
}

.footer-features a,
.footer-features p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0;
}

.list,
.fa-brands {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.list:hover {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.fa-brands:hover {
  color: #ff42a5;
  font-weight: 600;
}

.footer-copyright {
  padding: 1rem 0;
}

/* ================================================================= */
/* ================================================================= */
/* ================================================================= */
/* ================================================================= */
/* ================================================================= */
/* ================================================================= */
/* ================================================================= */
/* ================================================================= */

/* media queries */
@media screen and (max-width: 1368px) {
  .online-games-videos {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .game-info {
    margin-bottom: 5rem;
  }
  .game-info-img {
    height: 30rem;
    width: 100%;
  }
  .game-info-sub-img {
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -27rem;
    left: -6rem;
  }
  .game-info-title {
    width: 70%;
    text-align: right;
    padding: 8rem 5rem;
  }
  .games-genre-section {
    margin: 15rem 0;
  }
}

@media screen and (max-width: 976px) {
  .navbar {
    flex-direction: column;
    width: 90vw;
  }
  .nav-title {
    margin-bottom: 3rem;
  }
  .nav-items {
    flex-direction: column;
  }
  .banner {
    padding: 5rem 0;
  }
  .banner-content {
    width: 90vw;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    margin-bottom: 5rem;
  }
  .banner-info {
    padding: 5rem 0;
    width: 100%;
    margin-bottom: 2rem;
  }
  .banner-hero,
  .gamer-hero,
  .gamer-info {
    width: 100%;
  }
  .banner-title {
    padding-bottom: 1rem;
    font-size: 4rem;
  }
  .banner-title-fancy {
    font-size: 8rem;
  }
  .banner-desc {
    width: 100%;
    text-align: start;
  }
  .banner-desc p {
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  .banner-img {
    width: 100%;
    margin: 0 auto;
  }
  .button-group {
    justify-content: start;
  }

  .btn {
    padding: 1rem 2rem;
    gap: 1rem;
  }

  /* we are gamer section */

  .we-are-gamer {
    flex-direction: column;
    padding: 2rem;
  }
  .gamer-info {
    text-align: center;
    padding: 2rem 0;
  }
  .gamer-title {
    padding: 2rem 0;
  }
  .gamer-desc {
    width: 100%;
    text-align: center;
    padding: 4rem 0;
    margin: 0 auto;
    margin-right: 0;
  }

  .gamer-sub-desc {
    padding-top: 4rem;
    text-align: center;
  }
  .gamer-sub-desc span {
    font-size: 2.5rem;
  }
  .online-games-videos-title {
    margin: 4rem 1rem;
    font-size: 2.5rem;
  }
  .online-games-videos-title span {
    font-size: 2.5rem;
  }

  .online-games-videos-desc {
    font-size: 1.3rem;
    padding-top: 0;
    margin: 0 3rem;
  }
  .online-games-videos {
    grid-template-columns: 1fr;
    padding: 2rem;
    place-items: center;
    /* flex-direction: column;
    align-items: center;
    margin: 4rem 0; */
  }
  .card-title {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
  }
  .game-info {
    flex-direction: column;
  }
  .game-info-title {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .game-info-heading,
  .game-info-heading span {
    font-size: 3rem;
  }
  .game-info-desc {
    width: 100%;
    padding-bottom: 3rem;
  }
  .game-info-img {
    height: 30rem;
    width: 100%;
  }
  .game-info-sub-img {
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -15rem;
    left: -5rem;
  }
  .footer-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-bar {
    width: 100%;
  }
}
